<% content_for :title do %>
  sign in - chessable
<% end %>

<div class="four columns alpha">
  <div id="sign_in" class="panel">
    <h2>Sign in</h2>

    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %><br>
        <%= text_field_tag :email, params[:email], :placeholder => 'email@example.com' %>
      </div>
      <div class="field">
        <%= label_tag :password %><br>
        <%= password_field_tag :password %>
      </div>
      <div class="field">
        <%= label_tag :remember_me %>
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      </div>
      <div class="actions right"><%= submit_tag "Sign in" %></div>
    <% end %>
  </div>
  <p><%= link_to 'Forgotten password?', new_password_reset_path %></p>
</div>
