<div class="four columns alpha">
	<div class="panel">
		<h2>Reset password</h2>
		<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
			<div class="field">
				<%= f.label :password %><br>
				<%= f.password_field :password %>
			</div>
			<div class="field">
				<%= f.label :password_confirmation %><br>
				<%= f.password_field :password_confirmation %>
			</div>
			<div class="actions right"><%= f.submit 'Update password' %></div>
		<% end %>
	</div>
</div>

<% if @user.errors.any? %>
	<div class="five columns">
		<div id="error_explanation" class="panel error">
			<h2>Your details are invalid.</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>
