<% content_for :title do %>
  reset password - chessable
<% end %>
<div class="four columns alpha">
  <div id="password_resets" class="panel">
    <h2>Forgotten password</h2>

    <%= form_tag password_resets_path, :method => :post do %>
      <div class="field">
        <%= label_tag :email %><br>
        <%= text_field_tag :email, params[:email], :placeholder => 'email@example.com' %>
      </div>
      <div class="actions right"><%= submit_tag 'Reset password' %></div>
    <% end %>
  </div>
</div>
