Hello, <%= @user.username %>

<%= @notification.actor.username %> has made a comment on your game.

<%= @notification.actor.username %> said:
"<%= @comment.content %>"

Copy the link below into your web browser's address bar to view the game

<%= game_url(@notification.target_object) %>

