<tr>
	<td>
		<h1>Hello, <%= @user.username %></h1>
		<p><strong><%= @notification.actor.username %> has made a comment on your game.</strong></p>
    <p><%= @notification.actor.username %> said:<br>&#8220;<%= @comment.content %>&#8221;</p>
		<p><%= link_to 'Click here', game_url(@notification.target_object) %> to view the game.</p>
	</td>
</tr>
