<tr>
	<td>
		<h1>Hello, <%= @user.username %></h1>
		<p><strong><%= @game_invite.inviter.username %> has invited you to a game!</strong></p>
		<p><%= link_to 'Click here', game_invite_url(@game_invite) %> to accept or reject this invite.</p>
	</td>
</tr>