<tr>
	<td>
		<h1>Hello, <%= @user.username %></h1>
		<p><strong><%= @inviter.username %> has cancelled their game invite!</strong></p>
    <p>I’m sure you’ll get another one, but until then, why don’t you go and 
      <%= link_to 'find someone else to play?', users_url %></p>
	</td>
</tr>

