<tr>
  <td>
    <h1>Hello, <%= @user.username %></h1>
    <p><strong><%= @game_invite.invited.username %> has accepted your game invite!</strong></p>
    <p><%= link_to 'Click here', game_url(@game_invite.game) %> to see the game.</p>
  </td>
</tr>