Hello, <%= @user.username %>

<%= @notification.actor.username %> has forfeit the game!
<%= @notification.actor.username %> forfeit at <%= Time.now.strftime("%H:%M") %> on the <%= Time.now.to_s(:british_date) %>.

Copy the link below into your browser's address bar to view the result.
<%= game_url(@notification.target_object) %>
