Hello, <%= @user.username %>


<%= @game_invite.invited.username %> has accepted your game invite!

Copy the link below into your browser's address bar to see the game.
<%= game_url(@game_invite.game) %>