<tr>
  <td>
    <h1>Hello, <%= @user.username %></h1>
    <p><strong><%= @notification.actor.username %> has forfeit the game!</strong></p>
    <p><%= @notification.actor.username %> forfeit at <%= Time.now.strftime("%H:%M") %> on the <%= Time.now.to_s(:british_date) %>.</p>
    <p><%= link_to 'Click here', game_url(@notification.target_object) %> to view the result.</p>
  </td>
</tr>
