<tr>
	<td>
		<h1>Hello, <%= @user.username %></h1>
		<p><strong><%= @notification.actor.username %> <%= @notification.message %></strong></p>
		<p><%= link_to 'Click here', game_url(@notification.target_object) %> to view the game result.</p>
	</td>
</tr>