<tr>
	<td>
		<h1>Hello, <%= @user.username %></h1>
		<p><strong>Uh oh, <%= @notification.actor.username %> <%= @notification.message %></strong></p>
		<p><%= link_to 'Click here', game_url(@notification.target_object) %> to view the result.</p>
	</td>
</tr>