Hello, <%= @user.username %>

Uh oh, <%= @notification.actor.username %> <%= @notification.message %>

Copy the link below into your browser's address bar to view the result.

<%= link_to 'Click here', game_url(@notification.target_object) %>
