Hello, <%= @user.username %>


<%= @inviter.username %> has cancelled their game invite!

I’m sure you’ll get another one, but until then, why don’t you go and  find someone else to play by following the link below?

<%= link_to users_url, users_url %>

