<tr>
	<td>
		<h1>Hello, <%= @user.username %></h1>
		<p><strong><%= @notification.actor.username %> has made a move!</strong></p>
    <p><%= @notification.actor.username %> made the move at <%= Time.now.strftime("%H:%M") %> on the <%= Time.now.to_s(:british_date) %>.</p>
		<p><%= link_to 'Click here', game_url(@notification.target_object) %> to respond with your own move. Good luck!</p>
	</td>
</tr>
