Hello, <%= @user.username %>


<%= @notification.actor.username %> has made a move!

<%= @notification.actor.username %> made the move at <%= Time.now.strftime("%H:%M") %> on the <%= Time.now.to_s(:british_date) %>.

Copy the link below into your web browser's address bar to respond
with your own move. Good luck!

<%= game_url(@notification.target_object) %>
