Hello, <%= @user.username %>

To reset your password, click the link below.

If you did not issue this password reset, please ignore this email. Your password will not be changed.

<%= edit_password_reset_url(@user.password_reset_token) %>
