Hello, <%= @user.username %>!
    
Payment for your www.chessable.co.uk subscription
has been successfully taken.
      
As a reminder, you can see your subscription history in your 
account settings.
      
Thank you very much for your support.
    
If you have any troubles, queries, or suggestions, don’t hesitate
to contact hello@chessable.co.uk
      
Thanks again,
chessable.
