<tr>
  <td>
    <h1>Hello, <%= @user.username %>!</h1>
    
    <p>Payment for your <a href="https://www.chessable.co.uk">chessable</a> subscription
      has been successfully taken.</p>
      
    <p>As a reminder, you can see your subscription history in your 
      <%= link_to 'account settings', edit_user_url(@user) %>.</p>
      
    <p>Thank you very much for your support.</p>
    
    <p>If you have any troubles, queries, or suggestions, don’t hesitate
      to contact hello@chessable.co.uk</p>
      
    <p>Thanks again, <br><strong>chessable</strong></p>
  </td>
</tr>