Hello, <%= @user.username %>!
    
There was a problem taking payment for your chessable subscription.
    
Please check your payment settings in your PayPal account, and another
attempt to take payment will be made in a few days.
    
Thank you very much for your support.
    
If you have any troubles, queries, or suggestions, don’t hesitate
to contact hello@chessable.co.uk
    
Thanks again,
chessable.