<tr>
  <td>
    <h1>Hello, <%= @user.username %>!</h1>
    
    <p>There was a problem taking payment for your chessable subscription.</p>
    
    <p>Please check your payment settings in your PayPal account, and another
    attempt to take payment will be made in a few days.</p>
    
    <p>Thank you very much for your support.</p>
    
    <p>If you have any troubles, queries, or suggestions, don’t hesitate
      to contact hello@chessable.co.uk</p>
    
    <p>Thanks again, <br><strong>chessable</strong>.
    
  </td>
</tr>