<tr>
  <td>
    <h1>Hello, <%= @user.username %></h1>
    
    <p>We are sorry that you have cancelled your chessable plus plan, but
    you are still more than welcome to our free one.</p>
    
    <p>If there was something specific that caused you to cancel your subscription, email
    <%= mail_to 'hello@chessable.co.uk' %> and we’ll see if we can help.</p>
    
    <p>Thanks again, <br><strong>chessable</strong></p>
    
  </td>
</tr>
