Hello, <%= @user.username %>
    
We are sorry that you have cancelled your chessable plus plan, but
you are still more than welcome to our free one.
    
If there was something specific that caused you to cancel your subscription, email
hello@chessable.co.uk and we’ll see if we can help.
    
Thanks again,
chessable
