<tr>
  <td>
    <h1>Hello, <%= @user.username %></h1>
    <p>Thanks for signing up for the plus plan at <a href="https://www.chessable.co.uk">chessable</a>, your support is 
    really appreciated.</p>

    <p>If you have any troubles, queries, or suggestions, don’t hesitate
      to contact hello@chessable.co.uk</p>

    <p>Thanks again, and have fun!</p>
  </td>
</tr>
