Hello, <%= @user.username %>

Thanks for signing up for the plus plan at www.chessable.co.uk, your support is 
really appreciated.

If you have any troubles, queries, or suggestions, don’t hesitate
to contact hello@chessable.co.uk

Thanks again, and have fun!

