<tr>
	<td>
		<h1>Hello, <%= @user.username %></h1>
		<p>Thanks for signing up at www.chessable.co.uk, you’ll love it.</p>

		<p>To verify your account please click the following link:<br>
			<%= link_to verifications_url(:verification_token => @user.verification_token), verifications_url(:verification_token => @user.verification_token) %>
		</p>

		<p>If you have any troubles, queries, or suggestions, don’t hesitate
			to contact hello@chessable.co.uk</p>

		<p>Thanks again, and have fun!</p>
	</td>
</tr>