Hello, <%= "#{@user.username}" %>.

Thanks for signing up at www.chessable.co.uk, you’ll love it.

To verify your account please click the following link:

<%= link_to verifications_url(:verification_token => @user.verification_token), verifications_url(:verification_token => @user.verification_token) %>

If you have any troubles, queries, or suggestions, don’t hesitate
to contact hello@chessable.co.uk

Thanks again, and have fun!