<% if @comment.errors.any? %>

  // clear the previous error messages
  $('#errors').remove();

  $('textarea').after('<div id="errors"><div class="arrow_up"></div></div>');
  <% @comment.errors.full_messages.each do |msg| %>
    error_message = '<div class="error_message"><p><%= escape_javascript(msg) %></p></div>'
    $('#errors').append(error_message);
  <% end %>
<% else %>

  // clear any previous error messages
  $('#errors').remove();

  <%
    color = @comment.user == @game.white_player ? "white" : "black"
    comment_html = '<div class="comment ' + color + (" linked target_#{@comment.half_move_number}" unless @comment.half_move_number.nil?) + '"><div class="arrow"></div><p class="speaker"><span class="time">' + time_ago_in_words(@comment.created_at) + ' ago </span><span class="username">' + link_to(@comment.user.username, user_path(@comment.user)) + '</span> said:</p><p>' + @comment.content + '</p></div><div class="clear"></div>'  
  %>

  $('#history').append('<%= comment_html.html_safe %>');
  $('#comment_entry textarea').val('');

  var new_comment = $('#history').children('div.comment').last();
  $(new_comment).css('display', 'none');

  $('#history').animate({
    scrollTop: $('#history')[0].scrollHeight
  }, 'slow');

  $(new_comment).fadeIn('slow');
<% end %>
