<% content_for :title do %>
  account settings - chessable
<% end %>

<section id="account_settings">
  <% if @user.errors.any? %>
    <div class="six columns alpha">
      <div id="error_explanation" class="panel error">
        <h2>Your details are invalid.</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <h2 class="underlined_header">Account Settings</h2>

  <%= form_for @user do |f| %>

    <div class="form_container sixteen columns alpha omega">
      <div class="seven columns alpha field_container" id="avatar_settings">
        <h3>Avatar settings</h3>
        <div class="panel">
          <%= image_tag avatar_url(@user), :id => 'your_avatar' %>
        </div>
        <p id="gravatar">Your avatar is retreived using your <a href="http://en.gravatar.com/">Gravatar</a> account. 
          If you want to change your avatar, you can do so using Gravatar website.</p>
        <p>If you do not have a Gravatar account, and want an avatar, sign up for a Gravatar account with the same
          email address that you signed up to <%= link_to 'chessable', root_url %> with.</p>
      </div>
      
      <div class="offset-by-one four columns field_container">
        <h3>Notification settings</h3>

        <div class="field">
          <%= f.label :receive_email_notifications, 'Receive email notifications from chessable, notifying you about game invites, moves made, and other game events.' %><br>
          <%= f.check_box :receive_email_notifications %>
        </div>
      </div>
      
      <div class="four columns omega field_container" id="password_settings">
        <h3>Password settings
          <span class="note">(Leave blank if not changing.)</span>
        </h3>

        <div class="field">
          <%= f.label :password, 'New Password' %><br>
          <%= f.password_field :password %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, 'Password confirmation' %><br>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <div class="actions"><%= f.submit 'Update account settings' %></div>
    </div>

  <% end %>
</section>

<div class="clear"></div>

<section id="subscription_settings" class="sixteen columns alpha omega">
  <h2 class="underlined_header">Subscription information</h2>

  <% if @user.current_subscription %>
    <div class="seven columns alpha">
      <p>You currently have a subscription to <strong>chessable plus.</strong></p>
      <p>The current subscription period began on the <strong><%= @user.current_subscription.start_date.to_s(:british_date) %></strong>,
        and will end on the <strong><%= @user.current_subscription.end_date.to_s(:british_date) %></strong>.</p>
    </div>

    <div class="offset-by-three six columns omega" id="cancel_subscription">
      <p>There are <strong>no refunds</strong> if you decided to cancel this subscription, however there are also no cancellation fees.</p>
      <div id="cancel_text">
        <p>To cancel your subscription, you <strong>must log in to your PayPal account and cancel it there</strong>. 
          We will alert you when we have received your cancellation.</p>
      </div>
    </div>

  <% else %>
    <p>You currently have no subscription with chessable.</p>
    <p><strong>Upgrade</strong> to the <%= link_to 'plus plan', new_user_subscription_path(@user) %>
      to get access to extra features.</p>
  <% end %>
  
  <div class="clear"></div>
  
  <div class="six columns alpha">
    <% unless @user.subscriptions.empty? %>
        <h3>Subscription history</h3>

        <div class="six columns alpha">
          <table id="subscription_history">
            <tr>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Paid</th>
              <th>Cancelled</th>
            </tr>
            <% @user.subscriptions.each do |sub| %>
              <tr>
                <td><%= sub.start_date.to_s(:british_date) %></td>
                <td><%= sub.end_date.to_s(:british_date) %></td>
                <td><%= sub.paid %></td>
                <td><%= sub.cancelled %></td>
              </tr>
            <% end %>
          </table>
          <p class="note">Please be aware that this subscription information may take a while to become up-to-date.</p>
        </div>
    <% end %>
  </div>
  
</section>

