<% content_for :title do %>
  players - chessable
<% end %>

<section id="player_list">
  <h2 class="underlined_header">All players</h2>
  
  <div class="seven columns alpha omega">
    <div id="player_search">
      <%= form_tag users_path, :method => :get do %>
        <%= text_field_tag :search, params[:search], :placeholder => 'Search for username' %><%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>
  
  <div id="sort_menu">
    <h3>Sort by</h3>
    <ul>
      <li <%= 'class=current_sort' if @sorted_by == 'username' %>><%= link_to 'username', users_path(:sort_by => 'username') %></li>
      <li <%= 'class=current_sort' if @sorted_by == 'wins' %>><%= link_to 'most wins', users_path(:sort_by => 'most_wins') %></li>
      <li <%= 'class=current_sort' if @sorted_by == 'losses' %>><%= link_to 'most losses', users_path(:sort_by => 'most_losses') %></li>
      <li <%= 'class=current_sort' if @sorted_by == 'draws' %>><%= link_to 'most draws', users_path(:sort_by => 'most_draws') %></li>
    </ul>
  </div>
  
  <div class="twelve columns alpha">
    <% if @users.empty? %>
      <p>No players found, sorry. Click <%= link_to 'here', users_path %> to see all the players.</p>
    <% else%>
      <div class="cols_container">
        <% @users.each do |user| %>
        <div class="six columns">
          <%= render :partial => 'shared/user_preview', :locals => { :user => user } %>
        </div>
        <% end %>
      </div>	
    </div>
  <% end %>

</section>