<div class="nine columns alpha omega">
  
  <% if @user.errors.any? %>
    <div class="five columns omega" id="error_container">
      <div id="error_explanation" class="panel error">
        <h2>Your details are invalid.</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="four columns alpha">
    <div id="sign_up" class="panel">
      <%= form_for @user do |f| %>
        <h2>Sign up</h2>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email, :placeholder => 'email@example.com' %>
        </div>
        <div class="field">
          <%= f.label :username %><br>
          <%= f.text_field :username, :placeholder => 'username' %>
        </div>
        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password, :placeholder => '$3curEpassw0rd' %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="actions">
          <span class="right"><%= f.submit %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
