<% content_for :title do %>
  <%= @user.username %>&#8217;s profile - chessable
<% end %>

<div id="profile">
  <h2 class="underlined_header"><%= @user.username %>'s profile</h2>

  <div class="eight columns alpha">
    <section id="user_details">
      <div id="avatar" class="panel">
        <%= image_tag avatar_url(@user), :class => 'avatar_full' %>
      </div>

      <p>
        <strong>Joined on:</strong> <%= @user.created_at.to_s(:british_date) %><br><br>
        <%
          if @user.white_games.count == @user.black_games.count
            most_played_as = 'both'
          else
            most_played_as = @user.white_games.count > @user.black_games.count ? 'White' : 'Black'
          end
        %>
        <strong>Most often plays as:</strong> <%= most_played_as %><br>
        <strong>Games currently being played:</strong> <%= @user.active_games.count %><br>
        <strong>Games finished:</strong> <%= @user.games.select { |game| game.game_over }.count %>
      </p>

      <% if current_user && current_user != @user %>
      <%= form_for :game_invite, :url => game_invites_path do |f| %>
      <%= f.hidden_field :invited, :value => @user.to_param %>

      <%= f.submit 'Challenge to a game' %>
      <% end %>
      <% end %>
    </section>
  </div>

  <div class="offset-by-two six columns omega">
    <section id="statistics">
      <p id="results_header">Results:</p>
      <table>
        <tr>
          <th>&nbsp;</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Draws</th>
        </tr>
        <tr>
          <th>White</th>
          <td><%= @user.wins_as_white %></td>
          <td><%= @user.losses_as_white %></td>
          <td><%= @user.draws_as_white %></td>
        </tr>
        <tr>
          <th>Black</th>
          <td><%= @user.wins_as_black %></td>
          <td><%= @user.losses_as_black %></td>
          <td><%= @user.draws_as_black %></td>
        </tr>
        <tr>
          <th>Totals</th>
          <td><strong><%= @user.wins %></strong></td>
          <td><strong><%= @user.losses %></strong></td>
          <td><strong><%= @user.draws %></strong></td>
        </tr>
      </table>
    </section>
  </div>

  <div class="clear"></div>

  <% unless @user.won_games.empty? %>
    <section class="sixteen columns alpha omega" id="won_games">
      <h3>Games <%= @user.username %> has won</h3>
      <div class="cols_container">
        <% @user.won_games.each do |game| %>
          <%= render :partial => 'shared/game_preview', :locals => { :game => game } %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% unless @user.lost_games.empty? %>
    <section class="sixteen columns alpha omega" id="lost_games">
      <h3>Games <%= @user.username %> has lost</h3>
      <div class="cols_container">
        <% @user.lost_games.each do |game| %>
          <%= render :partial => 'shared/game_preview', :locals => { :game => game } %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% unless @user.drew_games.empty? %>
    <section class="sixteen columns alpha omega" id="won_games">
      <h3>Games <%= @user.username %> has drew</h3>
      <div class="cols_container">
        <% @user.drew_games.each do |game| %>
          <%= render :partial => 'shared/game_preview', :locals => { :game => game } %>
        <% end %>
      </div>
    </section>
  <% end %>
  
</div>
