<div class="four columns game_preview_wrapper">
  <div class="game_preview panel">
    <div class="internal_wrapper">
      <span class="font_preloader">&nbsp;</span>
      <div class="preview_image">
        <a href="<%= game_path(game) %>">
          <canvas id="game_preview_<%= game.id %>">
          </canvas>
          <script type="text/javascript">
            $(window).load(function() {
                var gamepreview = new Application.GamePreview($('#game_preview_<%= game.id %>'),
                  "<%= "#{escape_javascript(game.pgn)}" %>",
                  "<%= "#{escape_javascript(game.fen)}" %>",
                  "<%= true if game.black_player == current_user %>");
            });
            </script>
          </a>
      </div>
      <div class="game_details">
        <p class="title"><%= link_to "#{game.white_player.username} vs. #{game.black_player.username}", game_path(game) %></p>
        <p class="times">updated: <strong><%= game.updated_at.to_s(:british_date) %></strong><br>
          <span class="quiet">started: <strong><%= game.created_at.to_s(:british_date) %></strong></span></p>

        <div class="result">
          <% if game.game_over %>
            <% if game.in_draw %>
              <p><strong>Game ended as a draw.</strong></p>
            <% else %>
              <p><strong>Winner: <%= link_to game.winner.username, user_path(game.winner) %></strong></p>
            <% end %>
          <% end %>
        </div>

        <% if @user && !game.game_over && game.next_player == @user %>
          <p class="turn_indicator"><%= link_to 'It is your turn.', game_path(game) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
