<header>
  <div class="container">
    <div class="sixteen columns">
      <nav class="navigation_bar">
        <a href="/"><p id="logo">chessable</p></a>
        <% if current_user %>
          <div id="inline_links">
            <ul>
              <li id="top"><a href="#">find &darr;</a>
                <ul>
                  <li><%= link_to 'random player', random_users_path %></li>
                  <li><%= link_to 'players', users_path %></li>
                  <li><%= link_to 'games', games_path %></li>
                </ul>
              </li>
            </ul>
          </div>
                    
          <div id="account_links">
            <ul>
              <li class="on">
                <a href="#"><%= current_user.username %>
                  <% unless current_user.unread_notifications.empty? %><span class="notifications_flag">&#9873;</span><% end %>
                </a>
                <ul>
                  <li>
                    <a href="<%= user_dashboard_path(current_user) %>">Dashboard<%= " (#{current_user.unread_notifications.count + current_user.pending_game_invites.count})" unless 
                    current_user.unread_notifications.empty? && current_user.pending_game_invites.empty? %></a>
                  </li>
                  <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
                  <li><%= link_to 'Sign out', session_path(current_user), :method => :delete %></li>
                </ul>
              </li>
            </ul>
          </div>
        <% else %>
          <div id="account_links">
            <ul>
              <li id="sign_up"><%= link_to 'Sign up!', new_user_path %></li>
              <li id="sign_in"><%= link_to 'Sign in', new_session_path %></li>
            </ul>
          </div>
        <% end %>
      </nav>
    </div>
  </div>
</header>
