<div class="user_preview panel">
  <div class="avatar">
    <%= image_tag avatar_url(user) %>
  </div>
  <div class="details">
    <ul>
      <li class="user_link"><strong><%= link_to user.username, user_path(user) %></strong><br></li>
      <li><strong>Games unfinished:</strong> <%= user.active_games.count %><br></li>
      <li><strong>Games finished:</strong> <%= user.games.select { |game| game.game_over }.count %><br></li>
      <li><strong>W/L/D: </strong> <%= "#{user.wins}/#{user.losses}/#{user.draws}" %></li>
    </ul>
  </div>
</div>
