<% content_for :title do %>
  chessable - forbidden
<% end %>

<div id="forbidden" class="five columns alpha">
  <div class="panel">
    <h2>Forbidden</h2>
    <p><strong>You are not authorized to access this area.</strong></p>
    <p>Click <%= link_to 'here', :back %> to go back.</p>
    <p>If you think this should not have happened, email
      <%= mail_to 'hello@chessable.co.uk' %> for support.</p>
  </div>  
</div>
