<% content_for :title do %>
  chessable - play anyone, anywhere
<% end %>

<section id="landing_page">
  
  <div class="sixteen columns alpha omega" id="top_wrapper">
    <div id="video_container">
      <div id="video" class="eleven columns alpha">
        <iframe src="https://www.youtube-nocookie.com/embed/pBVICbCLccY?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="four columns omega">
        <div id="details">
          <h2><strong>chessable</strong></h2>
          <p>chessable is an online correspondence chess application, that allows you to play chess
            on modern browsers and phones.</p>
          <div id="button_wrapper"><%= link_to 'Sign up free', new_user_path, :id => 'call_to_action' %></div>
        </div>
      </div>
      <p id="read_more"><%= link_to 'Or, read more about it...', '#about' %></p>
    </div>
  </div>

  <div class="sixteen columns alpha omega" id="twitter_feed">
    <h2 class="underlined_header"><%= link_to '@chessable', 'https://twitter.com/chessable' %> on twitter</h2>
    <div class="tweet sixteen columns alpha omega"></div>  
    <span class="right"><%= link_to 'View more of our tweets...', 'https://twitter.com/chessable' %></span>
  </div>

  <div id="about_wrapper">
    <h2 id="about" class="underlined_header">So, what&#8217;s it about?</h2>
    
    <div class="four columns alpha">
      <div class="about_panel">
        <h3><strong>Get the plus plan for £3/month.</strong></h3>
        <p>£3 per month gets you <strong>unlimited simultaneous games</strong>, and supports the development of chessable.</p>
      </div>
    </div>
    
    <div class="four columns">
      <div class="about_panel">
        <h3><strong>Or have it for free&hellip;</strong></h3>
        <p>chessable is <strong>free to play</strong>, but you can only play two games at a time.</p>
      </div>
    </div>
    
    <div class="four columns">
      <div class="about_panel">
        <h3><strong>Play when you have time to play.</strong></h3>
        <p><strong>Be victorious just after breakfast, or just before bed.</strong></p>
        <p>You&#8217;re a busy person, so make moves when you have time to.</p>
      </div>
    </div>
    
    
    <div class="four columns omega">
      <div class="about_panel">
        <h3><strong>Play on the go.</strong></h3>
        <p><strong>Make your moves, while on the move.</strong></p>
        <p>You can play chessable on any mobile device with support for HTML5 &amp; CSS3.
          (iOS 3.2+, Android 2.1+)</p>
      </div>
      
      </div>
    </div>
    
    
    <div class="clear"></div>
    
    
    <div class="four columns alpha">
      <div class="about_panel">
        <h3><strong>Nothing to install.</strong></h3>
        <p><strong>Just sign up, and start playing.</strong>
        <p>Using chessable is simple. First sign in, then play.</p>
      </div>
    </div>
    
    <div class="four columns">
      <div class="about_panel">
        <h3><strong>No upgrades, but always up to date.</strong></h3>
        <p><strong>You&#8217;re never left behind.</strong>
        <p>You never have to upgrade chessable, you’re always using the lastest version.</p>
      </div>
    </div>
    
    <div class="four columns">
      <div class="about_panel">
        <h3><strong>Play at home.</strong></h3>
        <p><strong>Win from the comfort of your chair.</strong></p>
        <p>You can play chessable on any computer with a browser which has HTML5 &amp; CSS3 support. 
          (IE9+, Safari 4.0+, Chrome 14.0+, Firefox 7.0+, Opera 11.0+)</p>
      </div>
    </div>
    
    <div class="four columns omega">
      <div class="about_panel">
        <h3><strong>No hassle subscriptions</strong></h3>
        <p><strong>No horrible contracts.</strong></p>
        <p>You can cancel your plus subscription at any time, and there are no cancellation fees.</p>
      </div>
    </div>
    
    

  </div>
  
</section>
