<% content_for :title do %>
  chessable - more info
<% end %>

<section class="sixteen columns alpha omega" id="more_info">
  
  <div class="eight columns alpha">
    <h2 class="underlined_header">About chessable</h2>
    <p>I&#8217;ll write this very soon.</p>
  </div>

  <div class="offset-by-three five columns omega">
    <h2 class="underlined_header">Credits</h2>
    <p class="header">Developed by:</p>
    <p><%= link_to 'austinbirch', 'http://austinbirch.co.uk' %> &mdash; 
      <%= link_to 'Twitter', 'twitter.com/austinbirch' %>, <%= link_to 'GitHub', 'https://github.com/austinbirch' %></p>
  
    <p class="header">Chess validation library:</p>
    <p><%= link_to 'Jeff Hlywa', 'http://paprika.umw.edu/~jhlywa/' %> (<%= link_to 'GitHub', 'https://github.com/jhlywa/chess.js' %>)</p>
  </div>
  
</section>