<% content_for :title do %>
  Privacy Policy - chessable
<% end %>

<div class="legal">
  <h2 class="underlined_header">chessable Privacy Policy</h2>

  <p>chessable (“chessable”) operates the website chessable.co.uk. It is chessable’s policy
    to respect your privacy regarding any information chessable may collect while operating our website.</p>
  <h3>Website Visitors</h3>
  <p>Like most website operators, chessable collects non-personally-identifying information of the sort that
    web browsers and servers typically make available, such as the browser type, language preference, referring site,
    and the date and time of each visitor request. chessable's purpose in collecting non-personally identifying information
    is to better understand how chessable's visitors use its website. From time to time, chessable may release non-personally-identifying
    information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>

  <p>chessable also collects potentially personally-identifying information like Internet Protocol (IP) addresses
    for logged in users and for users viewing the chessable website. chessable only discloses logged in user and
    commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>
  <h3>Gathering of Personally-Identifying Information</h3>
  <p>Certain visitors to chessable's website choose to interact with chessable in ways that require chessable to gather personally-identifying
    information. The amount and type of information that chessable gathers depends on the nature of the interaction. For example, chessable asks
    visitors who sign up for a chessable profile at chessable.co.uk to provide a username and email address. Those who engage in transactions with
    chessable – by purchasing access to the paid chessable profile account, for example – are asked to provide additional information, including as
    necessary the personal information required to complete the transaction. In each case, chessable collects such information only insofar as is necessary
    or appropriate to fulfill the purpose of the visitor’s interaction with chessable. chessable does not disclose personally-identifying information other
    than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging
    in certain website-related activities.</p>
  <h3>Aggregated Statistics</h3>
  <p>chessable may collect statistics about the behaviour of visitors to its websites. For instance, chessable may monitor the most
    popular profiles on chessable.co.uk in order to produce trends of use. chessable may display this information publicly or provide
    it to others. However, chessable does not disclose personally-identifying information other than as described below.</p>
  <h3>Protection of Certain Personally-Identifying Information</h3>
  <p>chessable discloses potentially personally-identifying and personally-identifying information only to third parties
    (such as PayPal, for payment processing) and affiliated organizations that (i) need to know that information in order
    to process it on chessable's behalf or to provide services available at the chessable website, and (ii) that have agreed
    not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your
    home country; by using the chessable website, you consent to the transfer of such information to them. chessable will not rent
    or sell potentially personally-identifying and personally-identifying information to anyone. Other as described above, chessable
    discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order
    or other governmental request, or when chessable believes in good faith that disclosure is reasonably necessary to protect the
    property or rights of chessable, third parties or the public at large. If you are a registered user of an chessable website and
    have supplied your email address, chessable may occasionally send you an email to tell you about new features, solicit your feedback,
    or just keep you up to date with what’s going on with chessable and any other of our related products. chessable primarily use our blogs
    to communicate this type of information, so chessable expects to keep this type of email to a minimum. If you send us a request (for example
    via a support email or via one of our feedback mechanisms), chessable reserves the right to publish it in order to help us clarify or respond
    to your request or to help us support other users. chessable takes all measures reasonably necessary to protect against the unauthorized
    access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>
  <h3>Cookies</h3>
  <p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the
    website each time the visitor returns. chessable uses cookies to help chessable identify and track visitors, their usage of chessable
    website, and their website access preferences. chessable visitors who do not wish to have cookies placed on their computers should set
    their browsers to refuse cookies before using the chessable website, with the drawback that certain features of the chessable websites
    may not function properly without the aid of cookies.</p>
  <h3>Links to other Websites</h3>
  <p>The chessable website may contain links to other websites of interest. However, once you have used these links to 
    leave the chessable website, you should note that chessable does not have control over that website. Therefore,
    chessable can not be responsible for the protection and privacy of any information which you provide whilst visiting
    such sites and such sites are not governed by this privacy statement.</p>
  <h3>Privacy Policy Changes</h3>
  <p>Although most changes are likely to be minor, chessable may change its Privacy Policy from time to time, and in
    chessable's sole discretion. chessable encourages visitors to frequently check this page for any changes to its
    Privacy Policy.  Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
</div>
