<% content_for :title do %>
  Terms of Service - chessable
<% end %>

<div class="legal">
  <h2 class="underlined_header">chessable Terms of Service</h2>
  <p>The following terms and conditions govern all use of the chessable website and all content,
    services and products available at or through the website (“the Website”). The Website is owned
    and operated by chessable (“chessable”). The Website is offered subject to your acceptance without
    modification of all of the terms and conditions contained herein and all other operating rules, policies
    (including, without limitation, chessable's Privacy Policy) and procedures that may be published from time
    to time on this Site by chessable (collectively, the “Agreement”).</p>

  <p>Please read this Agreement carefully before accessing or using the Website. By accessing or using any 
    part of the web site, you agree to become bound by the terms and conditions of this agreement. If you
    do not agree to all the terms and conditions of this agreement, then you may not access the Website or
    use any services. If these terms and conditions are considered an offer by chessable, acceptance is
    expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.</p>

  <h3>Your chessable account and profile</h3>
  <p>If you create a profile on the Website, you are responsible for maintaining
    the security of your account and profile, and are fully responsible for all activities that occur under the account
    and any other actions taken in connection with the profile. You must not assign any information to your profile in a
    misleading or unlawful manner. chessable may change or remove any information that it considers innappropriate or
    unlawful, or otherwise likely to cause chessable liability. You must immediately notify chessable of any unauthorised
    uses of your profile, your account, or any other breaches of security. chessable will not be liable for any acts
    or omissions by You, including any damages of any kind incurred as a result of such omissions.</p>

  <h3>Responsibility of Contributors</h3>
  <p>If you operate a chessable profile, comment on anything on the chessable Website,
    post material to the Website, post links on the Website, or otherwise make (or allow any third party to make) material
    available by means of the Website (any such material, “Content”), You are entirely responsible for the content of, and
    any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text,
    graphics, an audio file, or computer software. By making Content available, you represent and warrant that:
    the downloading, copying and use of the Content will not infringe the proprietary rights, including but not
    limited to the copyright, patent, trademark or trade secret rights, of any third party;
    <ul>
      <li>you have fully complied with any third-party licenses relating to the Content, and have done all things
        necessary to successfully pass through to end users any required terms;</li>

      <li>the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>

      <li>the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content
        designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful
        acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>

      <li>the Content is not pornographic, does not contain threats or incite violence towards individuals or entities, and does not violate
        the privacy or publicity rights of any third party;</li>

      <li>your profile is not getting advertised via unwanted electronic messages such as spam links on newsgroups,
        email lists, other blogs and web sites, and similar unsolicited promotional methods;</li>

      <li>your profile is not named in a manner that misleads others into thinking that you are another person or company. 
        For example, your profiles name is not the name of a person other than yourself or company other than your own; and</li>
      <li>you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses
        and effects of the materials, whether requested to do so by chessable or otherwise.</li>
      <li>it is the responsibility of subscribers/contributors to ensure any contributions or uploaded material, 
        are legitimate and legal within the jurisdiction of UK law. chessable reserve the right to monitor contributions
        or uploaded material, to check on legal compliance and ensure they are not complicit in any illegal activity.</li>      
  </ul></p>

  <p>By submitting Content to chessable for inclusion on your profile, you grant chessable a world-wide, royalty-free, and non-exclusive
    license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing and promoting your profile.
    If you delete Content, chessable will use reasonable efforts to remove it from the Website, but you acknowledge that caching or references
    to the Content may not be made immediately unavailable.</p>

  <p>Without limiting any of those representations or warranties, chessable has the right (though not the obligation) to,
    in chessable's sole discretion (i) refuse or remove any content that, in chessable's reasonable opinion, violates any
    chessable policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website
    to any individual or entity for any reason, in chessable's sole discretion. chessable will have no obligation to provide
    a refund of any amounts previously paid.</p>

  <h3>Payment and Renewal.</h3> 
  <ul>
    <li class="list_header">General Terms.</li>
    <li>Optional paid services are available on the Website. By selecting an Upgrade you agree to pay chessable the monthly or
      annual subscription fees indicated for that service. Payments will be charged on a pre-pay basis and will cover the use of
      that service for a monthly or annual subscription period as indicated. Upgrade fees are not refundable.</li>
    <li class="list_header">Automatic Renewal.</li>
    <li>Unless you notify chessable before the end of the applicable subscription period that you want to cancel an Subscription,
      your Subscription will automatically renew and you authorize us to collect the then-applicable annual or monthly subscription
      fee for such Subscription (as well as any taxes) using the transaction method (PayPal) that chessable is using. Subscriptions
      can be cancelled at any time by cancelling the Subscription through your PayPal account.</li>
  </ul>

  <h3>Responsibility of Website Visitors</h3>
  <p>chessable has not reviewed, and cannot review, all of the material, including computer software,
    posted to the Website, and cannot therefore be responsible for that material’s content, use or effects. By operating the Website, chessable
    does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful.
    You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other
    harmful or destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing
    technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights,
    or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional
    terms and conditions, stated or unstated. chessable disclaims any responsibility for any harm resulting from the use by visitors of the Website,
    or from any downloading by those visitors of content there posted.</p>

  <h3>Content Posted on Other Websites</h3>
  <p>chessable has not reviewed, and cannot review, all of the material, including computer software,
    made available through the websites and webpages to which chessable.co.uk links, and that link to chessable.co.uk. chessable does
    not have any control over those non-chessable websites and webpages, and is not responsible for their contents or their use. By linking
    to a non-chessable website or webpage, chessable does not represent or imply that it endorses such website or webpage. You are responsible
    for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or
    destructive content. chessable disclaims any responsibility for any harm resulting from your use of non-chessable websites and webpages.</p>

  <h3>Copyright Infringement and DMCA Policy</h3>
  <p>As chessable asks others to respect its intellectual property rights, it respects the intellectual
    property rights of others. If you believe that material located on or linked to by chessable.co.uk violates your copyright, you are encouraged
    to notify chessable. chessable will respond to all such notices, including as required or appropriate by removing the infringing material or
    disabling all links to the infringing material. chessable will terminate a visitor’s access to and use of the Website if, under appropriate circumstances,
    the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of chessable or others. In the case of such termination,
    chessable will have no obligation to provide a refund of any amounts previously paid to chessable.</p>

  <h3>Intellectual Property</h3>
  <p>This Agreement does not transfer from chessable to you any chessable or third party intellectual property,
    and all right, title and interest in and to such property will remain (as between the parties) solely with chessable. chessable,
    chessable.co.uk, the chessable logo, and all other trademarks, service marks, graphics and logos used in connection with chessable.co.uk,
    or the Website are trademarks or registered trademarks of chessable or chessable's licensors. Other trademarks, service marks, graphics and
    logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license
    to reproduce or otherwise use any chessable or third-party trademarks.</p>

  <h3>Changes</h3>
  <p>chessable reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to
    check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this
    Agreement constitutes acceptance of those changes. chessable may also, in the future, offer new services and/or features through the Website
    (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.</p>

  <h3>Termination</h3>
  <p>chessable may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice,
    effective immediately. If you wish to terminate this Agreement or your chessable.co.uk account (if you have one), you may simply discontinue using
    the Website. chessable can terminate the Website immediately as part of a general shut down of our service. All provisions of this Agreement which
    by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity
    and limitations of liability.</p>

  <h3>Disclaimer of Warranties</h3>
  <p>The Website is provided “as is”. chessable and its suppliers and licensors hereby disclaim all warranties of any kind,
    express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither
    chessable nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted.
    You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk. Your use of any information
    or materials on this website is entirely at your own risk, for which chessable shall not be liable. It shall be your own responsibility to ensure that any products,
    services or information available through this website meet your specific requirements. Your use of any information or materials on this website is entirely at your
    own risk, for which chessable shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this
    website meet your specific requirements.</p>

  <h3>Limitation of Liability</h3>
  <p>In no event will chessable, or its suppliers or licensors, be liable with respect to any subject matter
    of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special,
    incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) for interruption
    of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to chessable under this agreement
    during the twelve (12) month period prior to the cause of action. chessable shall have no liability for any failure or delay due
    to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

  <h3>General Representation and Warranty</h3>
  <p>You represent and warrant that (i) your use of the Website will be in strict accordance
    with the Automattic Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation
    any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content,
    and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you
    reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.</p>

  <h3>Indemnification</h3>
  <p>You agree to indemnify and hold harmless chessable, its contractors, and its licensors, and their respective
    directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising
    out of your use of the Website, including but not limited to your violation of this Agreement.</p>

  <h3>Miscellaneous</h3>
  <p>This Agreement constitutes the entire agreement between chessable and you concerning the subject matter hereof,
    and they may only be modified by a chessable, or by the posting by chessable of a revised version. Your use of this website and
    any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.</p>
</div>
