<% content_for :title do %>
  games - chessable
<% end %>

<% if @games %>

  <section class="sixteen columns alpha omega" id="user_games">
    <h2 class="underlined_header">
      <% if @result %>
        Games that <%= link_to @user.username, user_path(@user) %> has <%= @result %>
      <% else %>
        <%= link_to "#{@user.username}’s", user_path(@user) %> games
      <% end %>
    </h2>

    <div class="cols_container">
      <% @games.each do |game| %>
        <%= render :partial => 'shared/game_preview', :locals => { :game => game } %>
      <% end %>
    </div>

  </section>

<% else %>

  <section class="sixteen columns alpha omega" id="active_games">
    <h2 class="underlined_header">Games being played</h2>
    <% if @active_games.empty? %>
      <p>There are no games being played.</p>
    <% else %>
      <div class="cols_container">
        <% @active_games.each do |game| %>
          <%= render :partial => 'shared/game_preview', :locals => { :game => game } %>
        <% end %>
      </div>
    <% end %>
  </section>

  <section class="sixteen columns alpha omega" id="inactive_games">
    <h2 class="underlined_header">Finished games</h2>
    <% if @inactive_games.empty? %>
      <p>There are no finished games.</p>
    <% else %>
      <div class="cols_container">
        <% @inactive_games.each do |game| %>
          <%= render :partial => 'shared/game_preview', :locals => { :game => game } %>
        <% end %>
      </div>
    <% end %>
  </section>

<% end %>
