<% content_for :title do %>
<%= @game.friendly_name %> <%= "(#{@game.created_at.to_s(:british_date)})"%> - chessable
<% end %>

<% 
  if current_user
    if @game.next_turn == 'w' && current_user == @game.white_player ||
      @game.next_turn == 'b' && current_user == @game.black_player
      is_players_turn = true
    else
      is_players_turn = false
    end
  end
%>
<div class="title">
  <h2><%= link_to @game.white_player.username, user_path(@game.white_player) %>&nbsp;<span class="chess_font white">j</span> vs.
   <%= link_to @game.black_player.username, user_path(@game.black_player) %>&nbsp;<span class="chess_font black">j</span></h2>
  <p>started <%= time_ago_in_words(@game.created_at) %> ago</p>
</div>

<% if @game.errors.any? %>
  <%= @game.errors %>
<% end %>

<% if @game.game_over %>
  <% if @game.in_draw %>
    <div class="final_result">
      <h3><strong>The game finished as a draw.</strong><br>
       The game lasted <strong><%= distance_of_time_in_words(@game.created_at, @game.updated_at) %></strong>, and
       finished on <strong><%= @game.updated_at.to_s(:british_date) %></strong>.</h3>
    </div>
  <% else %>
    <div class="final_result">
      <h3><strong>Winner: <%= link_to @game.winner.username, user_path(@game.winner.username) %></strong><br>
       The game lasted <strong><%= distance_of_time_in_words(@game.created_at, @game.updated_at) %></strong>, and
       finished on <strong><%= @game.updated_at.to_s(:british_date) %></strong>.
       <% unless @game.forfeit_player_id.nil? %>
           <% if @game.white_player == @game.winner %>
             <br><strong><%= @game.black_player.username %></strong> forfeit the game.
           <% elsif @game.black_player == @game.winner%>
             <br><strong><%= @game.white_player.username %></strong> forfeit the game.
           <% end %>
       <% end %>
     </h3>
    </div>
     <% if current_user == @game.winner %>
         <div class="tweet_button">
           <p><strong>You won the game!</strong> Click on the tweet button to tell the world!
           <iframe allowtransparency="true" frameborder="0" scrolling="no"
             src="//platform.twitter.com/widgets/tweet_button.html?count=none&text=<%=u "I won a game on @chessable! #chessable" %>&related=<%=u "@chessable" %>&url=<%=u request.url %>"
             style="width:55px; height:20px;"></iframe></p>
         </div>
     <% end %>
  <% end %>
  
  <div id="game_over_status" class="status bad">
    <p><%= "Checkmate." if @game.in_checkmate %></p>
    <p>Game over.</p>
  </div>
<% end %>
<div id="game_over_status" class="status bad"></div>

<div class="eight columns alpha">
  <div id="game_wrapper" class="panel">
    <script type="text/javascript">
      $(window).load(function(){
        Application.chess_instance = new Application.Chessboard(
          '<%= escape_javascript(@game.pgn).gsub('\"', '"').html_safe %>',
          <%= @game.white_player == current_user ? true : false %>,
          <%= @game.black_player == current_user ? true : false %>
        );
      });
    </script>
    <canvas id="chessboard" height="418" width="418">
      <p>Your browser does not appear to support the HTML5 canvas element.</p>
    </canvas>
    <div id="game_navigation">
      Move history:<br>
      <%= link_to '<<', '#', :class => 'button', :id => 'show_beginning' %>
      <%= link_to '<', '#', :class => 'button', :id => 'show_previous' %>
      <%= link_to '>', '#', :class => 'button', :id => 'show_next' %>
      <%= link_to '>>', '#', :class => 'button', :id => 'show_reset' %>
    </div>
  </div>
</div>

<div class="eight columns omega">
  <% if current_user && !@game.game_over %>
    <div id="game_form_container" class="<%= is_players_turn ? 'active' : 'inactive' %>">
      <div id="move_header">
        <% if is_players_turn %>
          <p>It is your turn. <%= "(You are the #{ @game.next_turn == 'w' ? 'white' : 'black' } pieces)" %></p>
        <% else %>
          <p>Waiting for oppenents move.</p>
        <% end %>
      </div>

      <% if is_players_turn %>
        <%= form_for @game, :html => { :id => 'move_form' } do |f| %>
          <%= f.hidden_field :last_move %>
          <%= f.submit 'Forfeit game', :class => 'caution', :confirm => 'Are you sure you wish to forfeit? This game will count as a loss if you continue.' %>
          <%= link_to 'Undo move', '#', :class => 'button', :id => 'undo_button' %>
          <%= f.submit 'Confirm move', :id => 'confirm_move' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div id="game_details">
    <div id="game_status">
      <p class="header"></p>
    </div>
    <p class="header">PGN:</p>
    <p id="move_history"></p>
    
    <p><strong>About this game:</strong></p>
    <p>This game was started on the <strong><%= @game.created_at.to_s(:british_date) %></strong>, and the last move was
      made at <strong><%= @game.updated_at.strftime("%H:%M") %></strong> on the <strong><%= @game.updated_at.to_s(:british_date) %></strong>.</p>
  </div>
</div>

<div class="clear"></div>

<% unless @game.comments.empty? && !(current_user == @game.white_player || current_user == @game.black_player) %>
<div class="sixteen columns alpha omega" id="comments">
  <div id="comments_wrapper">
    <h3>Comments</h3>

    <div id="comments_container">
      <div id="history">
        <% @game.comments.each do |comment| %>
          <div class="comment <%= comment.user == @game.white_player ? "white" : "black" %> <%= "linked target_#{comment.half_move_number}" unless comment.half_move_number.nil? %>">
            <div class="arrow"></div>
            <p class="speaker">
              <span class="time"><%= time_ago_in_words(comment.created_at) %> ago </span>
              <span class="username"><%= link_to "#{comment.user.username}", user_path(comment.user) %> said:</span>
            </p>
            <p><%= comment.content %></p>
          </div>
          <div class="clear"></div>
        <% end %>
      </div>

      <% if current_user == @game.white_player || current_user == @game.black_player %>
        <div class="clear"></div>
        <div id="comment_entry">
          <p class="header">Add a comment:</p>
          <%= form_for [@game, @game.comments.build], :remote => true do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :half_move_number, :value => nil %>
            <%= f.text_area :content, :rows => 4, :placeholder => 'That was a great move!' %>
            <%= f.submit 'Add comment', :class => 'right' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<div class="sixteen columns alpha omega" id="player_info">
  <div class="six columns alpha">
    <p><strong>Playing as white</strong></p>
    <%= render :partial => 'shared/user_preview', :locals => { :user => @game.white_player } %>
  </div>
  
  <div class="offset-by-four six columns omega">
    <p><strong>Playing as black</strong></p>
    <%= render :partial => 'shared/user_preview', :locals => { :user => @game.black_player } %>
  </div>
</div>
