<% content_for :title do %>
  game invite (<%= @invited.username %> vs. <%= @inviter.username %>) - chessable
<% end %>
<div class="sixteen columns alpha omega">
  <% if @game_invite.errors.any? %>
    <div class="six columns alpha">
      <div id="error_explanation" class="panel error">
        <ul>
          <% if @game_invite.errors[:invited] %>
            <li>You need a <strong>plus subscription</strong> to have more active games. 
              <%= link_to 'Click here', new_user_subscription_path(current_user) %> to get one.</li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <h2 class="underlined_header">Game invite between 
  <%= link_to @invited.username, user_path(@invited) %> and <%= link_to @inviter.username, user_path(@inviter) %></h2>

  <section id="game_invite_summary">
    <div class="seven columns alpha" id="white_player">
      <div class="user_summary">
        <div class="avatar">
          <%= image_tag avatar_url(@invited), :class => 'avatar_full' %>
        </div>
        <div class="details">
          <h4><strong><%= @invited.username %></strong></h4>
          <p>
            <strong>Joined on:</strong> <%= @invited.created_at.to_s(:british_date) %><br>
            <strong>Game count:</strong> <%= @invited.games.count %>
          </p>
        </div>
      </div>
    </div>

    <div class="two columns" id="vs_container">
      <h1>VS</h1>
    </div>

    <div class="seven columns omega" id="black_player">
      <div class="user_summary">
        <div class="avatar">
          <%= image_tag avatar_url(@inviter), :class => 'avatar_full' %>
        </div>
        <div class="details">
          <h4><strong><%= @inviter.username %></strong></h4>
          <p>
            <strong>Joined on:</strong> <%= @inviter.created_at.to_s(:british_date) %><br>
            <strong>Game count:</strong> <%= @inviter.games.count %>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="clear"></div>

  <% if current_user == @invited %>
  <div class="eight columns alpha">
    <h2 class="underlined_header">Do you accept, or reject?</h2>
    <div id="respond_form">
      <%= form_for @game_invite do |f| %>
        <%= f.hidden_field :invite_status, :value => GameInvite::INVITE_STATUS[:rejected] %>
        <%= f.submit 'Reject game invite', :class => 'caution' %>
      <% end %>

      <%= form_for @game_invite, :html => { :class => 'right' } do |f| %>
        <%= f.hidden_field :invite_status, :value => GameInvite::INVITE_STATUS[:accepted] %>
        <%= f.submit 'Accept game invite' %>
      <% end %>
    </div>
  <% else %>
    <p>Awaiting response from <%= link_to @invited.username, user_path(@invited) %></p>
  </div>
  <% end %>
</div>