<% content_for :title do %>
  subscriptions - chessable
<% end %>

<div id="pricing_table">
  <h2 class="title">Select your plan</h2>

  <div id="plans">
    <div class="plan_container" id="free">
      <h2>Free</h2>
      <h3>£0 /month</h3>
      <h4>Just to try it</h4>

      <div class="details">
        <ul>
          <li>Can only play one game at once.</li>
        </ul>
      </div>

      <div class="select">
        <%= link_to 'Select plan', user_dashboard_url(@user), :class => 'button' %>
      </div>
    </div>

    <div class="plan_container" id="paid">
      <h2>Plus</h2>
      <h3>£3 /month</h3>
      <h4>Unlimited</h4>

      <div class="details">
        <ul>
          <li>Unlimited simultaneous games.</li>
          <li>Early access to new features.</li>
        </ul>
      </div>

      <div class="select">
        <%= form_tag APP_CONFIG[:paypal_url] do %>
          <%= hidden_field_tag :cmd, "_s-xclick" %>  
          <%= hidden_field_tag :encrypted, @subscription.encrypted_paypal(user_dashboard_url(current_user.username), payment_notifications_url(:secret => APP_CONFIG[:paypal_secret])) %>
          <%= submit_tag 'Select plan' %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="about">
    <h2 class="title">About the plans</h2>
    <p>All the plans are hassle-free. No hidden costs, no ads, and no micro-transactions. You can cancel at any time, however
      fees are non-refundable.</p>

    <p>If you wish to know more, get in touch by emailing <a href="mailto:hello@chessable.co.uk">hello@chessable.co.uk</a>.</p>
  </div>


</div>