<% unless notification.read %>
  <div class="notification">
    <p><%= formatted_notification(notification) %></p>
    <p><%= "#{time_ago_in_words(notification.created_at)} ago." unless notification.created_at.nil? %></p>

    <%= form_for [notification.user, notification] do |f| %>
      <%= f.hidden_field :read, :value => true %>
      <%= f.submit 'Dismiss', :class => 'link' %>
    <% end %>
  </div>
<% end %>