/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Color table */

$purple: #351330;
$light_purple: #d7d7e0;
$transparent_light_purple: rgba(215, 215, 224, 0.5);
$purple_tint: #8d327f;
$blue: #424254;
$light_blue: #676784;
$green: #64908A;
$light_green: #80a7a2;
$cream: #E8CAA4;
$red: #CC2A41;
$dark_red: #941e2f;
$light_red: #db4e62;

$sign_up: #26760C;
$sign_up_hover: #2b850e;

$notice: #26760C;
$warning: #850E1E;

$near_white: #f9f9f9;

$border_color: #999;
$link_color: #941e2f;

/* Mixins */
@mixin standard_shadow {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
@mixin no_shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin rounded_corners_with($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin no_rounded_corners {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* remove mobile safari input styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none; -webkit-border-radius: 0; 
}

canvas {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* #Basic Styles
================================================== */
html { font-size: 62.5%; height: 100%; }
body {
  background: #f9f9f9 url('bg_noise.png');
  background-repeat: repeat;
  font: 14px/22px sans-serif;
  font: 1.4rem/2.2rem sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

#wrap {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 1650px;
  padding-bottom: 16.5rem;
}

footer {
  background-color: $light_purple;
  background-image: url('purple_noise.png');
  margin-top: -110px;
  margin-top: -11.0rem;
  height: 66px;
  height: 6.6rem;
  padding-top: 44px;
  padding-top: 4.4rem;
  clear: both;
  
  p#right_link {
    display: inline-block;
  }
  
  ul {
    list-style-type: none;
    
    li {
      float: left;
      margin-right: 22px;
      margin-right: 2.2rem;
    }
  }
  
}


section { overflow: visible; margin-bottom: 22px !important; margin-bottom: 2.2rem !important; }

/* #Typography
================================================== */
span.font_preloader {
  font-family: 'chess-font';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1,h2,h3,h4,p { margin-bottom: 22px; margin-bottom: 2.2rem; }
h1 { font: 36px/44px sans-serif; font: 3.6rem/4.4rem sans-serif; }
h2 { font: 24px/29px sans-serif; font: 2.4rem/2.9rem sans-serif; margin-bottom: 15px; margin-bottom: 1.5rem; }
h3 { font: 18px/22px sans-serif; font: 1.8rem/2.2rem sans-serif; }
h4 { font: 16px/22px sans-serif; font: 1.6rem/2.2rem sans-serif; }

small {
  font-size: 80%;
}

h2.underlined_header {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 21px;
  margin-bottom: 2.1rem;
}

p.header {
  font-weight: bold;
  margin-bottom: 11px;
  margin-bottom: 1.1rem;
}

a {
  color: $link_color;
  text-decoration: none;
  font-weight: bold;

  &:hover{
    color: $red;
    text-decoration: none;
  }
}

strong { font-weight: bold; }

.flash {
  font-weight: bold;
  .alert {
    color: $warning;
  }
  .notice {
    color: $notice; 
  }
}

/* #Links
================================================== */

/* #Lists
================================================== */

/* #Images
================================================== */
img { display: block; 
}
img.scale-with-grid {
  max-width: 100%;
  height: auto; }

/* #Buttons
================================================== */

.tweet_button {
  background-color: $light_purple;
  padding: 11px;
  display: inline-block;
  margin-bottom: 22px;
  margin-top: -11px;

  p {
    margin-bottom: 0;
  }

  iframe {
    position: relative;
    top: 4px;
    margin-left: 6px;
  }
}
  
/* #Forms
================================================== */
.field { margin-bottom: 11px; margin-bottom: 1.1rem; }

input[type="text"], input[type="email"], input[type="password"] {
  border: 1px solid $border_color;
  padding: 4px;
  position: relative;
  font-size: 13px;
  font-size: 1.3rem;
  left: -2px;
  left: -0.2rem;
  width: 97%;
}

// buttons
input[type="submit"], input[type="button"], a.button {
  @include rounded_corners_with(24px);
  @include standard_shadow;

  border: none;
  padding: 2px 9px;
  padding: 0.2rem 0.9rem;
  position: relative;

  font: normal 12px/16px sans-serif;
  font: normal 1.2rem/1.6rem sans-serif;

  margin-top: 1px;
  margin-top: 0.1rem;
  margin-bottom: 2px;
  margin-bottom: 0.2rem;

  border: 1px solid #777;
  border: 1px solid rgba(0, 0, 0, 0.3);

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

input[type="submit"].disabled, input[type="button"].disabled, a.button.disabled {
  opacity: 0.3;
  &:hover {
    cursor: default;
  }
}

input[type="submit"], a.button.submit {
  background-color: $green;
  color: $near_white;
  
  &:hover {
    background-color: $light_green;
  }
}

input[type="submit"].disabled, a.button.submit.disabled {
  &:hover {
    background-color: $green;
  }
}

input[type="submit"].caution, a.button.caution {
  background-color: $dark_red;
  color: $near_white;
  
  &:hover {
    background-color: $red;
  }
}

input[type="submit"].caution.disabled, a.button.caution.disabled {
  &:hover {
    background-color: $red;
  }
}

input[type="button"], a.button {
  background-color: $blue;
  color: $near_white;

  &:hover {
    background-color: $light_blue;
  }
}

input[type="button"].disabled, a.button.disabled {
  &:hover {
    background-color: $blue;
  }
}

input[type="button"]#hide_flash {
  @include no_shadow;
  @include no_rounded_corners;
  
  text-decoration: underline;
  border: none;
  background-color: transparent;
  color: $blue;
  font-weight: bold;
  margin: 0;
  padding: 0;
  &:hover {
    color: $light_red;
  }
}

a.button:hover {
  cursor: pointer;
}

/* action buttons container */
.actions {
  margin-top: 11px;
  margin-top: 1.1rem;
}

.field_with_errors {
  display: inline-block;

  label {
    color: $red;
    font-weight: bold !important;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    outline: 1px solid $red;
    border: 1px solid $red;
  }

  textarea {
    outline: 1px solid $red;
    border: 1px solid $red;
  }
}

div#error_container { float: right; }
div#error_explanation h2 {
  line-height: 120%;
}

/* #Misc
================================================== */
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
.right { float: right; }

/* #Containers
================================================== */
div.cols_container {
  margin-left: -10px;
  margin-left: -1.0rem;
  margin-right: -11px;
  margin-right: -1.1rem;
}

