// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dashboards_controller {
  .cols_container {
    overflow: auto;
  }
}
