// Place all the styles related to the GameInvites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game_invite {
	background-color: rgba(141, 50, 127, 0.2);
	padding: 6px;
	padding: 0.6rem;
	margin-bottom: 10px;
	margin-bottom: 1.0rem;
	position: relative;

	p { 
		margin: 0;
	}
}

#game_invites_controller {
	#game_invite_summary {
		margin-top: 22px;
		margin-top: 2.2rem;
		padding-bottom: 22px;
		padding-bottom: 2.2rem;
		float: left;
	}

	.user_summary {
		padding: 22px;
		padding: 2.2rem;
		overflow: visible;

		.side_header {
			font-weight: bold;
			margin-bottom: 44px;
			margin-bottom: 4.4rem;
			text-align: center;
		}

		.avatar {
			margin-bottom: 22px;
			margin-bottom: 2.2rem;
		}
	}

	#white_player {
		background-color: $near_white;
    outline: 1px solid $border_color;

		.user_summary {
			.avatar {
				float: right;
				margin-left: 20px;
				margin-left: 2.0rem;	
			}
			.details {
				text-align: right;
			}
		}
	}

	#black_player {
		background-color: rgba(0, 0, 0, 0.8);
		color: $near_white;
    outline: 1px solid #000;

		.user_summary {
			.avatar {
				float: left;
				margin-right: 20px;
				margin-right: 2.0rem;
			}
			.details {
				text-align: left;
			}
		}
	}

	.avatar {
		img.avatar_full {
			width: 178px;
			width: 17.8rem;
			height: auto;
		}
	}

	#vs_container {
		text-align: center;
		margin: 44px 10px;
		margin: 4.4rem 1.0rem;

		h1 {
			margin: 0;
		}
	}

	#respond_form {
		form {
			display: inline-block;
			margin-right: 11px;
			margin-right: 1.1rem;
		}

		form.right {
			margin-right: 0;
		}
	}
}
