.game_preview_wrapper {

  .game_preview {
    @include standard_shadow;

    .preview_image {
      display: inline-block;
      background-color: $near_white;
      z-index: 2;
      padding: 6px;
      padding: 0.6rem;
      border: 1px solid $border_color;
      margin-bottom: 6px;
      margin-bottom: 0.6rem;

      canvas {
        display: block;
        width: 184px;
        width: 18.4rem;
        height: 184px;
        height: 18.4rem;
        max-width: 264px;
        max-width: 26.4rem;
        max-height: 264px;
        max-height: 26.4rem;
      }
    }


    .game_details {
      z-index: 1;

      .title {
        margin-bottom: 6px;
        margin-bottom: 0.6rem;
      }
      
      .times {
        margin-bottom: 11px;
        margin-bottom: 1.1rem;
      }
    }

    .result {
      p {
        margin-bottom: 0;
      }
    }

    .turn_indicator {
      display: inline-block;
      margin-bottom: 2px;
      margin-bottom: 0.2rem;

      a {
        background-color: $green;
        padding: 6px 6px 5px 6px;
        padding: 0.6rem 0.6rem 0.5rem 0.6rem;
        color: $near_white;

        &:hover {
          color: $red;
        }
      }
    }

  }
}
