// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#games_controller {
  span.chess_font {
    font-family: 'chess-font';
    background-color: #aaa;
    &.white {
      color: $near_white;
    }
    &.black {
      color: #000;
    }
  }

  div.title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    p, h2 {
      display: inline-block;
      margin-bottom: 0;
    }
    h2 {
      margin-right: 6px;
      margin-right: 0.6rem;
    }
  }

  div.final_result {
    background-color: $green;
    color: $near_white;
    h3 {
      padding: 11px;
      padding: 1.1rem;
      line-height: 140%;
    }
  }

  #game_wrapper {
    display: inline-block;
    padding: 11px;
    
    #game_navigation {
      a {
        display: inline-block;
        text-align: center;
        margin-right: 4px;
        margin-right: 0.4rem;
        width: 22px;
        width: 2.2rem;
      }
    }
    
    #chessboard {
      position: relative;
      display: inline-block;
      background-color: $near_white;
      border: 1px solid $border_color;
      width: 418px;
      width: 41.8rem;
      height: 418px;
      height: 41.8rem;
      max-width: 418px;
      max-height: 418px;

      user-select: none; 
          -o-user-select: none; 
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
    }
  }


  #game_status {
    span {
      display: inline-block;
      margin-bottom: 11px;
      margin-bottom: 1.1rem;
      padding: 6px 6px 5px;
      padding: 0.6rem 0.6rem 0.5rem;
      color: $near_white;
      background-color: $green;
    }
  }
  #game_over_status {
    p {
      color: $near_white;
      padding: 6px 6px 5px;
      padding: 0.6rem 0.6rem 0.5rem;
      display: inline-block;
      margin-right: 11px;
      margin-right: 1.1rem;
      background-color: $red;
    }
  }

  #game_form_container {
    border: 2px solid $green;
    overflow: auto;
    &.inactive { border-color: $border_color; }
    &.active { border-color: $green; }
    margin-bottom: 11px;
    margin-bottom: 1.1rem;

    div#move_header {
      position: relative;
      font-weight: bold;

      p {
        margin-bottom: 0;
        padding: 6px 6px 5px;
        padding: 0.6rem 0.6rem 0.5rem;
        color: $near_white;
      }
    }
    &.active div#move_header { background-color: $green; }
    &.inactive div#move_header { background-color: $border_color; }
    
    #undo_button {
      float: left;
      margin: 11px;
      margin: 1.1rem;
    }
    
    #move_form {
      input[type="submit"] {
        float: left;
        margin: 11px 0 11px 11px;
        margin: 1.1rem 0 1.1rem 1.1rem;
      }

      input[type="submit"]#confirm_move {
        float: right;
        margin: 11px;
        margin: 1.1rem;
      }
    }
  }

  #player_info {
    border-top: 1px solid #aaa;
    margin-top: 22px;
    margin-top: 2.2rem;
    padding-top: 22px;
    padding-top: 2.2rem;
  }

  #comments {
    margin-top: 11px;

    #comments_wrapper { max-width: 520px; max-width: 52.0rem; }
    h3 { margin-bottom: 11px; margin-bottom: 1.1rem; }

    #comments_container {
      background-color: $light_purple;
      background-image: url('purple_noise.png');
      padding: 11px;
      padding: 1.1rem;
      margin-bottom: 22px;
      margin-bottom: 2.2rem;
      overflow: auto;

      #history {
        max-height: 297px;
        max-height: 29.7rem;
        padding-top: 11px;
        padding-top: 1.1rem;
        overflow-y: scroll;
        overflow-x: hidden;
      }        

      #errors {
        position: relative;
        display: inline-block;
        max-width: 62%;

        .arrow_up {
          position: absolute;
          top: -6px;
          top: -0.6rem;
          left: 6px;
          left: 0.6rem;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-left: 0.6rem solid transparent;
          border-right: 6px solid transparent;
          border-right: 0.6rem solid transparent;

          border-bottom: 6px solid $red;
          border-bottom: 0.6rem solid $red;
        }

        .error_message {
          background-color: $red;
          display: inline-block;
          padding-left: 6px;
          padding-left: 0.6rem;
          padding-right: 6px;
          padding-right: 0.6rem;

          p {
            color: $near_white;
            margin-bottom: 0;
          }
        }
      }

      #comment_entry {
        p.header {
          margin-bottom: 0;
        }

        textarea {
          width: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -webkit-appearance: none;
          font-size: 14px;
          font-size: 1.4rem;
          padding: 6px 6px 5px 6px;
          padding: 0.6rem 0.6rem 0.5rem 0.6rem;
          border: 1px solid $border_color;
          resize: none;
          overflow: auto;
        }
      }

      .comment {
        position: relative;
        margin-bottom: 22px;
        margin-bottom: 2.2rem;
        padding: 11px;
        padding: 1.1rem;
        width: 60%;
        max-width: 80%;
        word-break: break-word;

        .arrow {
          position: absolute;
          width: 0;
          height: 0;
          border-top: 11px solid transparent;
          border-top: 1.1rem solid transparent;
          border-bottom: 11px solid transparent;
          border-bottom: 1.1rem solid transparent;
          bottom: 9px;
        }

        p.speaker {
          color: #555;
        }

        p {
          margin-bottom: 0;
        }
      }

      .comment.white {
        float: left;
        margin-left: 11px;
        margin-left: 1.1rem;
        background-color: rgba(255, 255, 255, 0.3);

        .arrow {
          left: -11px;
          left: -1.1rem;
          border-right: 11px solid rgba(255, 255, 255, 0.3);
          border-right: 1.1rem solid rgba(255, 255, 255, 0.3);
        }

        &.linked:hover {
          background-color: rgba(255, 255, 255, 0.6);
          .arrow {
            border-right: 11px solid rgba(255, 255, 255, 0.6);
            border-right: 1.1rem solid rgba(255, 255, 255, 0.6);
          }
        }
      }

      .comment.black {
        float: right;
        margin-right: 11px;
        margin-right: 1.1rem;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.1);

        .arrow {
          right: -11px;
          right: -1.1rem;
          border-left: 11px solid rgba(0, 0, 0, 0.1);
          border-left: 1.1rem solid rgba(0, 0, 0, 0.1);
        }

        &.linked:hover {
          background-color: rgba(0, 0, 0, 0.2);
          .arrow {
            border-left: 11px solid rgba(0, 0, 0, 0.2);
            border-left: 1.1rem solid rgba(0, 0, 0, 0.2);
          }
        }
      }

    }
  }

}
