header {
	@include standard_shadow;
	width: 100%;
	height: 40px;
	height: 4.0rem;
	background-color: $purple;
	color: $near_white;
	line-height: 40px;
	line-height: 4.4rem;
	margin-bottom: 22px;
	margin-bottom: 2.2rem;

	border-bottom: 4px solid $purple_tint;

	#logo {
		display: inline-block;
		float: left;
		position: relative;
		padding: 0 11px;
		padding: 0 1.1rem;
		font-weight: bold;
		background-color: $cream;
		color: $red;
		height: 44px;
		height: 4.4rem;
		font-size: 16px;
		font-size: 1.6rem;
	}

	#inline_links, #account_links {
	    z-index: 4;
	    position: relative;
	    display: inline;

	    ul { float: right; }

	    ul, li ul { z-index: 4; }
	    
      li#sign_up, li#sign_in {
        width: 88px;
        width: 8.8rem;
        height: 40px;
        height: 4.0rem;
      }
	 
	    a {
	      display: block;
	      color: $near_white;
	      width: 100%;
	      text-decoration: none;
	      font-size: 13px;
	      font-size: 1.3rem;

	      &:hover {
	        background-color: $purple_tint;
	        text-decoration: none;
	      }
	    }

	    li.on a {
	    	background-color: $purple_tint;
	    }

	    li.on ul li a {
	      background-color: transparent;
	    }

	    /* for drop down navigation */
	    ul li {
	    	background-color: $purple;
		    float: left;
		    width: 110px;
		    width: 11.0rem;
		    display: inline;
		    margin: 0;
		    text-align: center;
		    position: relative;
				/*height: 40px;*/
				/*height: 4.0rem;*/
	    }

	    ul li ul {
	      left: -9999px;
	      position: absolute;

	      li {
	        @include standard_shadow;
	        position: relative;
	        top: 0;
	        left: 0;
          width: 110px;
          width: 11.0rem;

	        &:hover{
	        	background-color: $purple_tint;
		    }
	      }

	      li:last-child {
	      }
	    } 

	    ul li:hover ul {
	      left: 0;
	    }

      ul li#top {
        height: 40px;
        height: 4.0rem;
        border-bottom: 4px solid $purple_tint;
        border-bottom: 0.4rem solid $purple_tint;
      }
	    ul li#top:hover {
        border: none;
	    	background-color: $purple_tint;
		}
	}

	nav { position: relative; }

	#inline_links {
		ul {
			float: left;
		}
		ul li {
			width: 98px;
			width: 9.8rem;
		}
		ul li ul li { 
      width: 98px;
      width: 9.8rem;
      padding-left: 28px;
      padding-left: 2.8rem;
      padding-right: 28px;
      padding-right: 2.8rem;
      text-align: left;
    }
	}
}
