// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home_controller {
  
  #forbidden {
    h2 {
      color: $dark_red;
      font-weight: bold;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  
  ul {
    margin-bottom: 22px;
    margin-bottom: 2.2rem;
    li {
      margin-bottom: 11px;
      margin-bottom: 1.1rem;
    }
  }
  
  li.list_header {
    font-weight: bold;
  }
  
  #landing_page {
    #top_wrapper {
      background-color: $light_purple;
      background-image: url('purple_noise.png');
      margin-bottom: 44px;
      margin-bottom: 4.4rem;
      margin-left: 0;
      margin-right: 0;
    }

    #twitter_feed {
      margin-bottom: 22px;
      margin-bottom: 2.2rem;
    }
        
    #video_container {
      padding: 11px;
      padding: 1.1rem;
      float: left;
      
      #video {
        margin-right: 22px;
        margin-right: 2.2rem;
        margin-bottom: 11px;
        margin-bottom: 1.1rem;
        width: 640px;
        width: 64.0rem;
        height: 360px;
        height: 36.0rem;
        
        iframe {
          width: 100%;
          height: 100%;
        }
      }
      
      #details {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 22px 11px;
        padding: 2.2rem 1.1rem;
        
        #button_wrapper { text-align: center; }
        
        #call_to_action {
          -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
          
          display: inline-block;
          background-color: $sign_up;
          color: $near_white;
          padding: 11px 22px;
          padding: 1.1rem 2.2rem;
          font-size: 24px;
          font-size: 2.4rem;
          margin-top: 44px;
          margin-top: 4.4rem;
          
          &:hover {
            cursor: pointer;
            background-color: $sign_up_hover;
            color: $near_white;
          }
        }
        
      }
    }

    #read_more {
      display: inline-block;
      margin: 11px 0 0 11px;
      margin: 1.1rem 0 0 1.1rem;
    }
    
    .about_panel {
      background-color: $transparent_light_purple;
      padding: 22px 11px;
      margin-bottom: 22px;
      
      p:last-child { margin-bottom: 0; }
      h3 {
        color: $dark_red;
      }
    }
    
  }  
}
