/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
    .user_summary {
      .avatar {
        float: left !important;
        margin-right: 20px !important;
        margin-right: 2.0rem !important;
      }
      .details {
        display: inline-block !important;
        text-align: left !important;
      }
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .game_preview .preview_image canvas {
      width: 136px !important;
      width: 13.6rem !important;
      height: 136px !important;
      height: 13.6rem !important;
    }
    
    .user_preview .details {
      margin-left: 0 !important;
      margin-top: 11px !important;
      margin-top: 1.1rem !important;
    }
    
    #video {
      width: 508px !important;
      width: 50.8rem !important;
      height: 286px !important;
      height: 28.6rem !important;
    }
    
    #chessboard {
      width: 340px !important;
      width: 34.0rem !important;
      height: 340px !important;
      height: 34.0rem !important;
    }
    
    #call_to_action {
      margin-top: 11px !important;
      margin-top: 1.1rem !important;
      padding: 11px 5px !important;
      padding: 1.1rem 0.5rem !important;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {

    footer {
      padding-bottom: 55px !important;
      padding-bottom: 5.5rem !important;
      
      p#right_link {
        float: none !important;
        margin-bottom: 11px;
        margin-bottom: 1.1rem;
        display: inline;
      }
      ul li { display: list-item !important; float: none !important; }
    }
    
    #pricing_table {
      float: left;
      max-width: 100% !important;
      #paid {
        margin-left: 0 !important;
      }
    }
    
    #game_form_container {
      padding-bottom: 33px !important;
      padding-bottom: 3.3rem  !important;
    }
    #move_form {
      position: relative !important;
      padding-bottom: 22px !important;
      padding-bottom: 2.2rem !important;
      
      input[type="submit"].caution {
        position: absolute !important;
        top: 33px !important;
        top: 3.3rem !important;
      }
    }

    .cols_container {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    
    #video_container {
      padding-right: 0 !important;
      #video {
        margin-right: 0 !important;
        width: 280px !important;
        width: 28.0rem !important;
        height: 158px !important;
        height: 15.8rem !important;
      }
    }
    
    #details {
      margin-right: 20px !important;
      margin-right: 2.0rem !important;
    }
    
    #call_to_action {
      margin-top: 11px !important;
      margin-top: 1.1rem !important;
    }
    
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    footer {
      padding-bottom: 88px !important;
      padding-bottom: 8.8rem !important;
    }
    
    #video {
      width: 420px !important;
      width :42.0rem !important;
      height: 236px !important;
      height: 23.6rem !important;
    }
    
    #chessboard {
      width: 396px !important;
      width: 39.6rem !important;
      height: 390px !important;
      height: 39.6rem !important;
    }
    
    #plans {
      padding-left: 100px !important;
      padding-left: 10.0rem !important;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    footer {
      padding-bottom: 88px !important;
      padding-bottom: 8.8rem !important;
    }

    #user_details img.avatar_full { 
      width: 110px !important; 
      width: 11.0rem !important;
      height: 110px !important;
      height: 11.0rem !important;
    }
    #user_details #avatar {
      padding: 8px !important;
      padding: 0.8rem !important;
    }
    
    #video {
      width: 420px !important;
      height: 236px !important;
    }
    
    #chessboard {
      width: 276px !important;
      width: 27.6rem !important;
      height: 276px !important;
      height: 27.6rem !important;
    }
    
    #plans {
      padding-left: 25px !important;
      padding-left: 2.5rem !important;
    }

    #inline_links {
      ul li {
        width: 66px !important;
        width: 6.6rem !important;

        ul li {
          width: 98px !important;
          width: 9.8rem !important;
          padding-left: 28px !important;
          padding-left: 2.8rem !important;
          padding-right: 28px !important;
          padding-right: 2.8rem !important;
        }
      }
    }

    .game_preview .preview_image canvas {
      width: 264px !important;
      width: 26.4rem !important;
      height: 264px !important;
      height: 26.4rem !important;
    }

  }


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/

@font-face {
    font-family: 'chess-font';
    src: url('chess-font.eot');
    src: url('chess-font.eot?#iefix') format('embedded-opentype'),
         url('chess-font.woff') format('woff'),
         url('chess-font.ttf') format('truetype'),
         url('chess-font.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

