.notification {
  background-color: rgba(141, 50, 127, 0.2);
  padding: 6px;
  padding: 0.6rem;
  margin-bottom: 10px;
  margin-bottom: 1.0rem;
  position: relative;

  p { 
    margin: 0;
  }

  input[type="submit"].link {
    @include no_shadow;
    @include no_rounded_corners;

    float: right;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: $blue;
    font-weight: bold;
    margin: 0;
    padding: 0;
    top: -17px;
    top: -1.7rem;

    &:hover{
      color: $light_red;
    }
  }
}