.panel {
	@include standard_shadow;

	display: block;
	overflow: hidden;
	background-color: $light_purple;
	background-image: url('purple_noise.png');
	padding: 10px;
	padding: 1.0rem;
	margin-bottom: 22px;
	margin-bottom: 2.2rem;
	border: 1px solid $border_color;

	&#error_explanation {
		border: 2px solid $red;
		padding: 22px;
		padding: 2.2rem;
		margin-bottom: 22px;
		margin-bottom: 2.2rem;
	}
}