// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#password_resets_controller {
	#password_reset {
		max-width: 278px;
		max-width: 27.8rem;
	}
}