// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sessions_controller {
	#sign_in {
		max-width: 278px;
		max-width: 27.8rem;
	}
}
