// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pricing_table {
  width: 484px;
  width: 48.4rem;
  margin: 0 auto;

  h2.title {
    margin-top: 11px;
    margin-top: 1.1rem;
    padding-bottom: 11px;
    padding-bottom: 1.1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .plan_container {
    @include standard_shadow;
    position: relative;
    float: left;
    top: 22px;
    top: 2.2rem;
    background-image: url('purple_noise.png');
    border: 1px solid $border_color;
    display: inline-block;
    width: 220px;
    width: 22.0rem;
    margin: 11px auto 44px;
    margin: 1.1rem auto 4.4rem;
    padding: 11px;
    padding: 1.1rem;
    text-align: center;

    h2 {
      font-size: 18px;
      font-size: 1.8rem;
    }

    h4 {
      text-transform: lowercase;
      font-variant: small-caps;
    }

    ul {
      padding: 11px auto;
      padding: 1.1rem auto;

      li {
        margin-bottom: 11px;
        margin-bottom: 1.1rem;
      }
    }

    .details {
      border-top: 1px solid #bbb;
      padding-top: 11px;
      padding-top: 1.1rem;
      border-bottom: 1px solid #bbb;
      margin-bottom: 11px;
      margin-bottom: 1.1rem;
    }

    .select {
      display: inline-block;
      padding: 11px 0;
    }
  }
  
  #plans {
    display: inline-block;
  }

  .plan_container#paid {
    border-color: $purple_tint;
    margin-left: -10px;
    border-width: 2px;
    z-index: 9999;
    top: 0;

    h2, h3, h4 {
      font-weight: bold;
      font-size: 140%;
    }
    h2, h3 {
      color: $purple_tint;
    }

    .select {
      input[type="submit"] {
        font-size: 16px;
        padding: 0.4rem 0.8rem;
      }
    }
  }

  #about {
    float: left;
  }
}