// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_preview {
  border: 1px solid $border_color;
  
  .avatar img {
    @include standard_shadow;
    display: inline;
    padding: 6px;
    padding: 0.6rem;
    background-color: rgba(255, 255, 255, 0.7);
    float: left;
    width: 110px;
    width: 11.0rem;
    height: 110px;
    height: 11.0rem;
    max-height: 110px;
    max-height: 11.0rem;
    max-width: 110px;
    max-width: 11.0rem;
  }
  
  .details {
    display: inline-block;
    margin-left: 11px;
    margin-left: 1.1rem;
    
    li.user_link { margin-bottom: 11px; margin-bottom: 1.1rem; }
  }
}

#users_controller {
  #player_search {
    display: block;
    overflow: auto;
    padding: 11px;
    padding: 1.1rem;
    background-color: $light_purple;
    background-color: $transparent_light_purple;
    margin-bottom: 22px;
    margin-bottom: 2.2rem;
    
    h3 { margin-bottom: 11px; margin-bottom: 1.1rem; }
    input[type="text"] { 
      display: block;
      float: left;
      width: 75%;
      margin-right: 6px;
      margin-right: 0.6rem;
    }
    input[type="submit"] {
      float: left;
      width: 20%;
      line-height: 18px;
      line-height: 1.8rem;
      top: 1px;
      top: 0.1rem;
      min-width: 60px;
      min-with: 6.0rem;
    }
  }
  
  #player_list {
    #sort_menu {
      background-color: $light_purple;
      background-color: $transparent_light_purple;
      float: right;
      text-align: right;
      padding: 11px 22px;
      padding: 1.1rem 2.2rem;
      margin-bottom: 22px;
      margin-bottom: 2.2rem;
      
      h3 {
        margin-bottom: 11px;
        margin-bottom: 1.1rem;
      }

      ul {
        li a {
          line-height: 200%;
        }
        li.current_sort a {
          text-decoration: underline;
          font-style: italic;
        }
      }
    }
  }
  
  #sign_up {
    max-width: 278px;
    max-width: 27.8rem;
  }
  
  #profile {
    #user_details {
      overflow: auto;

      #avatar {
        float: left;
        margin-right: 20px;
        margin-right: 2.0rem;

        img.avatar_full {
          width: 165px;
          width: 16.5rem;
          height: 165px;
          height: 16.5rem;
        }
      }
    
    p {
      margin-top: 11px;
      margin-top: 1.1rem;
    }
    }

    #statistics {
      #results_header {
        font-weight: bold;
        margin-bottom: 11px;
        margin-bottom: 1.1rem;
      }
      table {
        width: 100%;

        th {
          font-weight: bold;
        }
        td, th {
          width: 25%;
          text-align: center;
          border: 1px solid #ccc;
          padding: 5px 6px 6px;
          padding: 0.5rem 0.6rem 0.6rem;
        }
      }
    }

    #recent_games {
      
    }
  }

  #account_settings {
    position: relative;
    float: left;
    padding-bottom: 22px;
    padding-bottom: 2.2rem;
    margin-bottom: 44px !important;
    margin-bottom: 4.4rem !important;
    
    #avatar_settings {
      .panel {
        display: inline-block;
        margin: 0 11px 11px 0;
        margin: 0 1.1rem 1.1rem 0;
        float: left;
      }
      
      #your_avatar {
        max-width: 110px;
        max-width: 11.0rem;
        max-height: 110px;
        max-height: 11.0rem;
      }
      p { display: inline-block; }
      p#gravatar { display: inline; }
    }

    .field_container {
      margin-bottom: 22px;
      margin-bottom: 2.2rem;
    
      h3 {
        font-weight: bold;
      }
    }
    
    #password_settings {
      margin-bottom: 33px;
      margin-bottom: 3.3rem;
    }
    

    .form_container {
      float: left;
      border-bottom: 1px solid #ccc;
    }
    
    .actions {
      position: absolute;
      right: 0;
      bottom: 33px;
      bottom: 3.3rem;
    }
  }
  
  #subscription_settings {
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 44px !important;
    margin-bottom: 4.4rem !important;
    
    #cancel_subscription {
      margin-bottom: 22px;
      margin-bottom: 2.2rem;
      p { margin-bottom: 11px; margin-bottom: 1.1rem; }
      input[type="submit"] { float: right; }
    }
    
    #cancel_text {
      border: 2px solid $red;
      padding: 9px;
    }
    
  }

  table#subscription_history {
    width: 100%;

    th {
      font-weight: bold;
    }
    
    td, th {
      text-align: left;
      border: 1px solid $border_color;
      padding: 5px 6px 6px;
      padding: 0.5rem 0.6rem 0.6rem;;
    }

  }
  
  .note {
    font-size: 14px;
    font-size: 1.4rem;
    color: #555;
  }

}
