<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="apple-touch-icon-precomposed" href="<%= image_path 'chessable-touch-icon.png' %>" />
  
    <% if Rails.env.production? %>

      <!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_links track_forms register register_once unregister identify name_tag set_config".split(" ");for(e=0;e<
        g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
      mixpanel.init("4f872df52e477cc99100e3bd1c8d60bf");</script><!-- end Mixpanel -->

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17945991-10']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  <% end %>
  
  <% if content_for? :title %>
    <title><%= yield :title %></title>
  <% else %>
    <title>chessable - play anyone, anywhere</title>
  <% end %>

</head>
<body id="<%= params[:controller].parameterize %>_controller">
  <div id="wrap">
    <div id="main">
      <%= render :partial => 'shared/header' %>

      <% if flash[:notice] %>
        <div class="container flash">
          <div class="sixteen columns notice">
            <p><%= flash[:notice] %> <input type="button" name="hide_flash" value="(dismiss)" id="hide_flash"></p>
          </div>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="container flash">
          <div class="sixteen columns alert">
            <p><%= flash[:alert] %> <input type="button" name="hide_flash" value="(dismiss)" id="hide_flash"></p>
          </div>  
        </div>
      <% end %>

      <div class="container">
        <div class="sixteen columns">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="sixteen columns">
        <p id="right_link" class="right">&copy; 2012 <%= link_to 'chessable', root_path %> &mdash; All rights reserved 
          <small><%= link_to '(more info)', more_info_path %></small></p>
        <ul class="left">
          <li><%= mail_to 'hello@chessable.co.uk', 'Contact' %></li>
          <li><%= mail_to 'hello@chessable.co.uk', 'Report a Bug', :subject => 'Bug Report' %></li>
          <li><%= link_to 'Terms of Service', terms_path %></li>
          <li><%= link_to 'Privacy Policy', privacy_path %></li>
        </ul>
      </div>
    </div>
  </footer>

</body>
</html>
