<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		body {
			background-color: #f9f9f9;
			font: sans-serif;
			line-height: 22px;
			font-size: 14px;
			color: #000;
		}
		h1 { font-size: 36px; line-height: 110%; color: #8d327f; }
		h2 { font-size: 24px; }

		a {
			color: #CC2A41;
			text-decoration: none;
		}
		a:hover { text-decoration: none; }

		table.box_panel {
			max-width: 618px;
			width: 70%;
			margin: 22px auto;
			padding: 11px;
			border: 1px solid #999;
			background-color: #E9EFF7;
		}
		td { font: 14px/22px sans-serif; padding-bottom: 11px; }
		p {
			font: 14px/22px sans-serif: margin-bottom: 22px;
		}
		table.box_panel.no_decoration {
			background-color: transparent;
			border: none;
		}

	</style>
</head>
<body>
	<table class="box_panel">
		<%= yield %>
	</table>

	<table class="box_panel no_decoration">
		<tr>
			<td>
				<p><strong>Contact:</strong><br>
					Email: <a href="mailto:hello@chessable.co.uk">hello@chessable.co.uk</a>				
				</p>
				<p>If you want to change your email preferences, visit your account settings
				on <a href="https://www.chessable.co.uk">www.chessable.co.uk</a>.</p>
			</td>
		</tr>
	</table>
</html>